#present {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000;
}

#sync {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10000;

    background-color: #0000FF;
    color: #FFF;
    border-width: 0px;
    border-radius: 0 0 0 10px;
    font-style: bold;
    font-size: 3rem;
    font-size: 4vw;
}

table.no-border > tbody > tr > td {
    border-bottom-width: 0px !important;
}

.h-right {
    text-align: right !important;
}

.v-middle {
    vertical-align: middle;
}

.bold {
    font-weight: bolder;
}

ul.horizontal {
    list-style: none;
}

ul.horizontal > li {
    display: inline-block;
}