<section>
    <h2>Premise</h2>
    <p style="text-align: left;">
        A series of letters written by a senior tempter (demon) to his nephew.  The nephew is tempting his first "patient" (human).
    </p>
    <aside class="notes">
        According to C.S. Lewis this book was intended to "give all the psychology of temptation from the other point of view".  Since it is written from the perspective of a demon it presents an odd context for church since everything is flipped.  Things labeled as good in the book are evil.  We will see things like "our father below" referring to Satan and the "enemy" referring to God.
    </aside>
</section>
<section>
    <h2>Characters</h2>
    <table class="no-border">
        <tr class="fragment">
            <td class="h-right bold">Wormwood:</td><td> an apprentice tempter learning the ropes</td>
        </tr>
        <tr class="fragment">
            <td class="h-right bold">Screwtape:</td><td> senior tempter, Wormwood's uncle and mentor</td>
        </tr>
        <tr class="fragment">
            <td class="h-right bold">The patient:</td><td> a young adult male recently converted to Christianity</td>
        </tr>
    </table>
</section>
<section>
    <h2>Setting</h2>
    <ul style="list-style: none;">
        <li>Where: England</li>
        <li>When: just as England is entering World War II</li>
    </ul>
</section>
<section>
    <h2>Questions?</h2>
</section>