<section>
    <h1>Belief in the existence of demons</h1>
    <h3>Chapter 7, part 1</h3>
    <aside class="notes">
        Since this book is based on the idea that demons are real and active in the world we will start there.  

        Read up to first full paragraph on page 46.
    </aside>
</section>
<section>
    <h2>Belief in demons</h2>
    <ul style="list-style: none;">
        <li>
            Dangers
            <ul style="list-style: none;">
                <li class="fragment">Fear</li>
                <li class="fragment">Embracing evil: Wicca, devil worship, etc.</li>
            </ul>
        </li>
    </ul>
    <aside class="notes">
        What are the advantages to demons making their presence known?
        fear, devil worship, anything else?
    </aside>
</section>
<section>
    <h2>Disbelief in demons</h2>
    <ul style="list-style: none;">
        <li class="fragment">
            How? cartoon representations push them into the realm of fantasy
        </li>
        <li class="fragment">
            belief in "forces" but not "spirits" (materialist magician)
        </li>
    </ul>
    <aside class="notes">
        How does this occur?
        Most representations of demons are cartoonish, pushing the idea of their existence into fantasy.

        What are the advantages to demons hiding their existence?
        an unknowing belief in demons (or at least their work)
        materialist magician - belief in "forces" but not "spirits"

        What do you think the policy is today? (demons making their existence known or unknown)
        a little of both but predominantly hiding their existence

        How do we see this playing out?
        emotionalizing and mythologizing science
    </aside>
</section>
<section>
    <h2>Counterattack</h2>
    <ul style="list-style: none;">
        <li class="fragment">
            TRUTH: demons exist but are no match for God's power
            <ul style="list-style: none;">
                <li>
                    <a href="https://www.biblegateway.com/passage/?search=Matthew+8%3A28-34&version=NASB">Matthew 8:28-34</a>
                </li>
                <li>
                    <a href="https://www.biblegateway.com/passage/?search=Mark+16%3A9&version=NASB">Mark 16:9</a>
                </li>
            </ul>
        </li>
        <li class="fragment">

        </li>
    </ul>
    <aside class="notes">

    </aside>
</section>