<section>
    <h1>Factions</h1>
    <h3>Chapter 7, part 2</h3>
    <aside class="notes">
        Read starting at first full paragraph on page 46.
    </aside>
</section>
<section>
    <h2>The tactic</h2>
    <p>
        Encouraging people to join small groups usually holding to extreme beliefs which creates an <i>us vs. them</i> mentality towards the rest of the world.
    </p>
</section>
<section>
    <h2>Where do we see this happening?</h2>
    <ul>
        <li>ISIS</li>
        <li>Westboro Baptist Church</li>
        <li>Saul/Paul</li>
    </ul>
    <aside class="notes">
        Do you think technology, namely the internet, has helped or hurt the demon's efforts?
    
        Have you been a part of such a group?

        How is Christianity used as a means to a worldly end today?
    </aside>
</section>
<section>
    <h2>Why is this effective?</h2>
    <ul class="fragment">
        <li>Creates isolation, distrust of other people and potentially hate.</li>
        <li>Prevents looking at issues from different perspectives.</li>
        <li>Christianity/religion becomes a means to the factions cause/end (ex. Saul/Paul).</li>
    </ul>
</section>
<section>
    <h2>Counterattack</h2>
    <ul style="list-style: none;">
        <li>All people are created by God and should be respected as such
        <li class="fragment">
            <a href="https://www.biblegateway.com/passage/?search=1+Corinthians+3%3A4-8&version=NASB">1 Corinthians 3:4-8</a>
        </li>
        <li class="fragment">
            <a href="https://www.biblegateway.com/passage/?search=1%20Corinthians+12:11-13&version=NASB">1 Corinthians 12:11-13</a>
        </li>
        <li class="fragment">
            <blockquote cite="http://www.epc.org/history">
                In essentials, unity, in non-essentials, liberty.  In all things, charity; truth in love.
            </blockquote>
        </li>
    </ul>
</section>