<section>
  <h1>Fatigue &amp; what is "Real"</h1>
  <h3>Chapter 30</h3>
</section>
<section>
  <q>
    At any rate, you will soon find that the justice of Hell is purely realistic, and concerned only with results.  Bring us back food, or be food yourself.
  </q>
  <aside class="notes">
    The devils are interested in actions and results, not feelings, How might this insight affect the way you think about your own
    growth in virtue?<br>
    What is true justice (the justice of God/heaven)? "Life isn't fair, but that's a good thing. (what we deserve as sinners vs. what God offers us)" - Dad<br>
    <b>John 8:3-11</b> - The scribes and the Pharisees brought a woman caught in adultery, and having set her in the center of the court, they said to Him, “Teacher, this woman has been caught in adultery, in the very act.  Now in the Law Moses commanded us to stone such women; what then do You say?”  They were saying this, testing Him, so that they might have grounds for accusing Him. But Jesus stooped down and with His finger wrote on the ground.  But when they persisted in asking Him, He straightened up, and said to them, “He who is without sin among you, let him be the first to throw a stone at her.”  Again He stooped down and wrote on the ground.  When they heard it, they began to go out one by one, beginning with the older ones, and He was left alone, and the woman, where she was, in the center of the court.  Straightening up, Jesus said to her, “Woman, where are they? Did no one condemn you?” She said, “No one, Lord.” And Jesus said, “I do not condemn you, either. Go. From now on sin no more.”<br>
    <b>Romans 5:7-8</b> - For one will hardly die for a righteous man; though perhaps for the good man someone would dare even to die.  But God demonstrates His own love toward us, in that while we were yet sinners, Christ died for us.<br>
  </aside>
</section>
<section>
  <q>
    Whatever he says, let his inner resolution be not to bear whatever comes to him, but to bear it "for a reasonable period" - and let the reasonable period be shorter than the trial is likely to last.
  </q>
  <aside class="notes">
    What are some things we expect that we think we have a right to? our definition of justice?  for me, a right to unhindered traveling/driving<br>
    From a demonic perspective, what are the “benefits of fatigue,” and how do demons twist it against us?<br>
    <br>
    <b>Hebrews 12:1b-3</b> - let us run with endurance the race that is set before us, fixing our eyes on Jesus, the author and perfecter of faith, who for the joy set before Him endured the cross, despising the shame, and has sat down at the right hand of the throne of God.  For consider Him who has endured such hostility by sinners against Himself, so that you will not grow weary and lose heart.
  </aside>
</section>
<section>
  <q>
    The general rule which we have now pretty well established among them is that in all experiences which can make them happier or better only the physical facts are "real" while the spiritual elements are "subjective"; in all experiences which can discourage or corrupt them the spiritual elements are the main reality and to ignore them is to be an escapist.
  </q>
  <aside class="notes">
    From Scientific American - "Moderator Neil deGrasse Tyson, director of the museum’s Hayden Planetarium, put the odds at 50-50 that our entire existence is a program on someone else’s hard drive. “I think the likelihood may be very high,” he said. He noted the gap between human and chimpanzee intelligence, despite the fact that we share more than 98 percent of our DNA. Somewhere out there could be a being whose intelligence is that much greater than our own. “We would be drooling, blithering idiots in their presence,” he said. “If that’s the case, it is easy for me to imagine that everything in our lives is just a creation of some other entity for their entertainment.”"<br>
    http://www.scientificamerican.com/article/are-we-living-in-a-computer-simulation/<br>
    <br>
    good things are "coincidence", bad things have spiritual connotations<br>
    Wormwood learns about ways to use “reality” to raise doubts about his patient’s faith. In what two contrasting ways have the devils twisted our thoughts of reality to their advantage?<br>
    How does the devilish twisting of our understanding of reality hinder our growth in faith and the development of virtue?<br>
    <br>
    <b>Hebrews 11:1</b> - Now faith is the assurance of things hoped for, the conviction of things not seen.<br>
    <b>Philippians 4:8</b> - Finally, brethren, whatever is true, whatever is honorable, whatever is right, whatever is pure, whatever is lovely, whatever is of good repute, if there is any excellence and if anything worthy of praise, dwell on these things.<br>
  </aside>
</section>