<section>
  <h1>Gluttony</h1>
  <h3>Chapter 17</h3>
  <aside class="notes">
    What is gluttony?<br>
    read chapter
  </aside>
</section>
<section>
  <q cite="The Screwtape Letters, Chapter 17">
    Because what she wants is smaller and less costly than what has been set before her, she never recognises as gluttony her determination to get what she wants, however troublesome it may be to others.
  </q>
  <hr>
  <q cite="The Screwtape Letters, Chapter 17">
    But, however you approach it, the great thing is to bring him into the state in which the denial of any one indulgence - it matters not which, champagne or tea, sole colbert or cigarettes - "puts him out," for then his charity, justice, and obedience are all at your mercy.
  </q>
  <aside class="notes">
    How does C.S. Lewis define gluttony? extends it to include delicacy in addition to excess<br>
    We seldom think of gluttony as sin today; however, the devils do. What’s the difference between the gluttony of Excess and the gluttony of Delicacy?<br>
    How are they similar? preoccupation with food<br>
    Toward which type of gluttony are you inclined? Excess or delicacy?<br>
    It is clear that Delicacy, as present in the patient’s mother, is extremely irritating, how does it shape her life and affect those around her?<br>
    How does Lewis think gluttony of delicacy typically affects men? 
    What God calls us to do:<br>
    <b>1 Corinthians 10:25-27</b>Eat anything that is sold in the meat market without asking questions for conscience’ sake;  for the earth is the Lord’s, and all it contains.  If one of the unbelievers invites you and you want to go, eat anything that is set before you without asking questions for conscience’ sake.<br>
    How does gluttony of excess shape us and affect those around us?<br>
    <b>Proverbs 25:28</b> - Like a city that is broken into and without walls is a man who has no control over his spirit.<br>
    <b>Proverbs 23:19-21</b> - Listen, my son, and be wise, and direct your heart in the way.  Do not be with heavy drinkers of wine, or with gluttonous eaters of meat; for the heavy drinker and the glutton will come to poverty, and drowsiness will clothe one with rags.<br>
    Toward what other expressions of gluttony are we inclined to (Excess or delicacy)? peer pressure, food or alcohol<br>
    What variables make us more susceptible to gluttony (Excess or delicacy)? (people we are with, place, fatigue)<br>
    The impact of gluttony is to make food a primary preoccupation which governs our lives. What role do you think food should occupy in your life?<br>
    What other things are a primary preoccupation that can govern our lives through excess or delicacy?<br>
    How can we prevent gluttony of excess? weight loss study: someone else weighing me every week.  not buying desserts<br>
    <b>Philippians 3:18-20</b> - For many walk, of whom I often told you, and now tell you even weeping, that they are enemies of the cross of Christ, whose end is destruction, whose god is their appetite, and whose glory is in their shame, who set their minds on earthly things.  For <b>our citizenship is in heaven</b>, from which also we eagerly wait for a Savior, the Lord Jesus Christ;<br>\
    <b>1 Corinthians 10:31</b> - Whether, then, you eat or drink or whatever you do, do all to the glory of God.<br>
  </aside>
</section>