<section>
  <h1>Joy &amp; Jokes</h1>
  <h3>Chapter 11</h3>
  <aside class="notes">
    I went over the lesson on friends from last week with the high school guys' small group and heard an example of some good Christian friends.  These friends recognized that they had a problem with swearing and decided that to keep each other accountable, whenever one of them heard the other one swear they would punch the other one on the arm.  They said they each stopped swearing in a month.  
  </aside>
</section>
<section>
	<h2>Joy</h2>
	<q cite="The Screwtape Letters, Chapter 11">
		Laughter of this kind does us no good and should always be discouraged.  Besides, the phenomenon is of itself disgusting and a direct insult to the realism, dignity, and austerity of Hell.
	</q>
	<aside class="notes">
            page 61 up to the end of the last full paragraph<br>
            <br>
		Screwtape can't figure out the true cause for laughter when humans reunite during holidays.  
            What do you think it is?<br>
		Why is it so repulsive to Screwtape?  What do you think he [Screwtape] would prefer?<br>
            What are some examples of joy God has blessed you with?<br>
		riding in Ohiopyle and passing the place where Nicole and I got engaged<br>
		<br>
            <b>John 15:10-11</b> If you keep My commandments, you will abide in My love; just as I have kept My Father’s commandments and abide in His love.  These things I have spoken to you so that My joy may be in you, and that your joy may be made full.<br>
		<b>Proverbs 17:22</b> A joyful heart is good medicine, but a broken spirit dries up the bones.<br>
	</aside>
</section>
<section>
	<h2>Fun</h2>
	<q cite="The Screwtape Letters, Chapter 11">
		...It [fun] can sometimes be used, of course, to divert humans from something else which the Enemy would like them to be feeling or doing; but in itself it has wholly undesirable tendencies; it promotes charity, courage, contentment, and many other evils.
	</q>
	<aside class="notes">
            last line on 61 - 1st full paragraph on 62<br>
            <br>
            What are some examples of fun God has blessed you with?<br>
		playing with Colin and Reuben<br>
            How have you discovered fun to be an aid to spiritual growth?<br>
		How does fun promote charity, courage, contentment, and many other <i>evils</i>?<br>
		How can we identify when fun is distracting us from things God would like us to be feeling or doing?<br>
		<br>
            <b>Job 8:21</b> "He will yet fill your mouth with laughter and your lips with shouting..."
		<b>Matthew 11:19</b> The Son of Man came eating and drinking, and they say, ‘Behold, a gluttonous man and a drunkard, a friend of tax collectors and sinners!’<br>
            <b>Ecclesiastes 8:15</b> So I commended pleasure, for there is nothing good for a man under the sun except to eat and to drink and to be merry, and this will stand by him in his toils throughout the days of his life which God has given him under the sun.<br>
	</aside>
</section>
<section>
	<h2>The Joke Proper</h2>
	<q cite="The Screwtape Letters, Chapter 11">
		Humour is for them [humans] the all-consoling and<br>(mark this) the all-excusing, grace of life.  Hence it is invaluable as <b>a means of destroying shame</b>.
	</q>
	<aside class="notes">
            1st full paragraph on 62 - 1st full paragraph on 63<br>
            <br>
            Do you think that society still sees humor as the all-consoling and all-excusing grace of life?<br>
            How is it that a joke can be a means of justifying bad behavior or how does humor destroy our shame?<br>
		"Any suggestion that there might be too much of it [humor] can be represented to him as "Puritanical."<br>
            How might the advice of Screwtape affect the way you “enjoy” parties and entertainments such as music, movies, and television?<br>
		<br>
		<b>1 Thessalonians 5:21-22</b> But examine everything carefully; hold fast to that which is good; abstain from every form of evil.<br>
		<b>Philippians 4:8</b> Finally, brethren, whatever is true, whatever is honorable, whatever is right, whatever is pure, whatever is lovely, whatever is of good repute, if there is any excellence and if anything worthy of praise, dwell on these things.
	</aside>
</section>
<section>
	<h2>Flippancy</h2>
	<q cite="The Screwtape Letters, Chapter 11">
		Among flippant people the Joke is always assumed to have been made.  No one actually makes it; but every serious subject is discussed in a manner which implies that they have already found a ridiculous side to it.  If prolonged, the habit of Flippancy builds up around a man the finest armour-plating against the Enemy that I know...
	</q>
	<aside class="notes">
            last paragraph on 63<br>
            <br>
            How does flippancy build up the "finest armour-plating" against God?<br>
		<b>Ecclesiastes 3:4</b> A time to weep and a time to laugh; A time to mourn and a time to dance.<br>
		<br>
		Summary: God wants us to laugh but we should make sure that we are laughing comes from His blessings of joy and fun and not using humor as an excuse for shameful things or shield us from serious discussions.<br>
	</aside>
</section>
<section>
	<iframe id="tim-hawkins-video" width="420" height="315" src="https://www.youtube.com/embed/5Le33lZaMOI?html5=1&amp;autoplay=0" frameborder="0" allowfullscreen></iframe>
	<aside class="notes">
		"Only a clever human can make a real Joke about virtue, or indeed about anything else;"<br>
		Tim Hawkins
	</aside>
</section>