<section>
    <h1>Misdirecting the mind</h1>
    <h3>Chapter 6</h3>
    <aside class="notes">
      Pray for Nancy VanSickel (back injury from car accident)<br>
      <br>
      From the briefing by Albert Mohler: materialist magician in Scientific American Mind article about transgender issues in youth, denying biological facts of not just sexuality but psychological maturity (performing gender altering treatments to youth who haven't even hit puberty) despite the statistics showing most “transsexual youth stick with biological gender after puberty and the increased rates of suicide <br>
    </aside>
</section>
<section>
    <h2>Anxiety / worry</h2>
    <blockquote cite="https://en.wikisource.org/wiki/Franklin_Roosevelt%27s_First_Inaugural_Address">
        So, first of all, let me assert my firm belief that the only thing we have to fear is fear itself — nameless, unreasoning, unjustified terror which paralyzes needed efforts to convert retreat into advance.
    </blockquote>
    <p>Franklin D. Roosevelt, from his first inaugural address in 1933</p>
    <aside class="notes">
      Page 41 – 2nd full paragraph on 42<br>
      <br>
      Fear is a response to an identified/immediate threat, while anxiety is a response to the unknown.<br>
      A fear would be something like a car is driving towards you while walking<br>
      Anxiety would be worrying about contracting ebola while standing in the Pittsburgh airport<br>
      <br>
      Who has been afraid at some point in their life?  Who has been anxious about something?  What is it?<br>
      <br>
      fear is a necessary emotion for self-preservation<br>
      <br>
      it tends to be exaggerated when the thing being feared is unknown or has been unexperienced<br>
      fears are also exaggerated when it involves something that is outside of your control<br>
      How would you classify the fear you wrote down?  Is it something unknown, unexperienced, or outside of your control?  Do you think it's rational?<br>
      <br>
      Screwtape's advice is to encourage irrational fear<br>
      Irrational fear is certainly dangerous and if it is causing constant anxiety then you should seek help<br>
      An additional concern for the Christian is when you begin to consider your fears as your "cross" God has called you to bear<br>
      How do you think considering irrational fears your cross to bear would affect your faith?<br>
      <br>
      Solutions:<br>
      Do not worry about tomorrow or anything outside of your control.  <a href="https://www.biblegateway.com/passage/?search=Matthew+6%3A25-34&version=NASB">Matthew 6:25-34</a>
      Trust in God to protect you.  <a href="https://www.biblegateway.com/passage/?search=numbers+13%3A26-33&version=NASB">Numbers 13:26-33</a>
    </aside>
</section>
<section data-state="intro-extro">
    <h2>You | Focus | Object</h2>
    <svg width="640" height="480" xmlns="http://www.w3.org/2000/svg">
        <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
        <g>
            <title>Focus Graph</title>
            <g id="person_1">
                <circle fill="none" stroke="#FFF" stroke-width="5" cx="108" cy="68" r="18.02776" />
                <line y2="128" x2="148" y1="107" x1="108" stroke-width="5" stroke="#FFF" fill="none" />
                <line stroke="#FFF" stroke-width="5" x1="108" y1="88" x2="108" y2="168" id="svg_1" />
                <line stroke="#FFF" stroke-width="5" x1="68" y1="218" x2="108" y2="168" id="svg_2" />
                <line stroke="#FFF" stroke-width="5" x1="148" y1="218" x2="108" y2="168" id="svg_3" />
                <line y2="128" x2="68" y1="107" x1="108" stroke-width="5" stroke="#FFF" fill="none" />
            </g>
            <g id="person_2">
                <circle fill="none" stroke="#FFF" stroke-width="5" cx="106" cy="294" r="18.02776" />
                <line stroke="#FFF" stroke-width="5" x1="106" y1="333" x2="146" y2="354" />
                <line stroke="#FFF" stroke-width="5" x1="106" y1="314" x2="106" y2="394" />
                <line stroke="#FFF" stroke-width="5" x1="66" y1="444" x2="106" y2="394" />
                <line stroke="#FFF" stroke-width="5" x1="146" y1="444" x2="106" y2="394" />
                <line stroke="#FFF" stroke-width="5" y2="354" x2="66" y1="333" x1="106" />
            </g>
            <g id="cross">
                <rect id="svg_12" height="200" width="40" y="35" x="490" stroke-width="5" stroke="#FFF" fill="#FFF" />
                <rect id="svg_13" height="40" width="120" y="75" x="450" stroke-width="5" stroke="#FFF" fill="#FFF" />
            </g>
            <g id="turn-back-arrow">
                <line y2="140" x2="320" y1="140" x1="200" stroke-width="5" stroke="#FFF" />
                <path stroke="#FFF" stroke-width="5" d="M320,140 A1,1 1 0,0 320,80" fill="none" />
                <line y2="80" x2="260" y1="80" x1="320" stroke-width="5" stroke="#FFF" />
                <polygon points="255,80 270,70 270,90" fill="#FFF" />
            </g>
            <g id="straight-arrow">
                <line y2="366" x2="360" y1="366" x1="200" stroke-width="5" stroke="#FFF" />
                <polygon points="365,366 350,376 350,356" fill="#FFF" />
            </g>
            <text xml:space="preserve" text-anchor="middle" font-family="Sans-serif" font-size="90" y="400" x="509" stroke-width="0" stroke="#FFF" fill="#FFF">SIN</text>
        </g>
    </svg>
    <div class="fragment"></div>
    <aside class="notes">
      Where do you see this occurring in your own life?<br>
      For me running sound in church distracts me from worship<br>
      Do you think we can blame a demon every time it occurs?<br>
      How does technology help or hurt the situation?<br>
      <br>
      Solution:<br>
      <a href="https://www.biblegateway.com/passage/?search=1+Timothy+4%3A16&version=NASB">1 Timothy 4:16</a>
      <a href="https://www.biblegateway.com/passage/?search=Romans+8%3A5&version=ESV">Romans 8:5</a>
    </aside>
</section>
<section>
  <h2>The Layers of the mind</h2>
  <svg width="1000" height="600" xmlns="http://www.w3.org/2000/svg">
    <g>
        <title>Mind Layers</title>
        <g>
          <circle fill="none" stroke="#FFF" stroke-width="5" cx="500" cy="300" r="80" />
          <text xml:space="preserve" text-anchor="middle" font-family="Sans-serif" font-size="45" x="500" y="280" stroke-width="0" stroke="#FFF" fill="#FFF">Will</text>
        </g>
        <g class="fragment">
          <circle fill="none" stroke="#FFF" stroke-width="5" cx="500" cy="300" r="160" />
          <text xml:space="preserve" text-anchor="middle" font-family="Sans-serif" font-size="45" x="500" y="205" stroke-width="0" stroke="#FFF" fill="#FFF">Intellect</text>
        </g>
        <g class="fragment">
          <circle fill="none" stroke="#FFF" stroke-width="5" cx="500" cy="300" r="240" />
          <text xml:space="preserve" text-anchor="middle" font-family="Sans-serif" font-size="45" x="500" y="120" stroke-width="0" stroke="#FFF" fill="#FFF">Fantasy</text>
        </g>
        <g class="fragment">
          <line x1="560" x2="780" y1="300" y2="300" stroke-width="5" stroke="#FFF"/>
          <polygon points="785,300 770,310 770,290" fill="#FFF" />
          <text xml:space="preserve" text-anchor="middle" font-family="Sans-serif" font-size="33" x="810" y="280" stroke-width="0" stroke="#FFF" fill="#FFF">Virtues</text>
        </g>
        <g class="fragment" data-state="mind-layers">
          <line x1="440" x2="220" y1="300" y2="300" stroke-width="5" stroke="#FFF"/>
          <polygon points="445,300 430,310 430,290" fill="#FFF" />
          <text xml:space="preserve" text-anchor="middle" font-family="Sans-serif" font-size="33" x="120" y="280" stroke-width="0" stroke="#FFF" fill="#FFF">Malice, Lust, etc.</text>
        </g>
    </g>
  </svg>  
  <aside class="notes">
    2nd full paragraph on 42 – the end<br>
    <ul>
      <li><b>will</b> - the "heart", pre-conscious per Freudian theory</li>
      <li><b>intellect</b> - the mind, gatekeeper to the heart, where all of the action happens, conscious</li>
      <li><b>fantasy</b> - far reaches of the mind where ideas are easily picked up and dropped</li>
    </ul>
    <br>
    How does a demon push virtues out to fantasy while pushing malice, lust, etc. into the will?<br>
    How does benevolence get pushed out to the remote circumference of the patient's mind?  Examples?<br>
    <a href="https://www.biblegateway.com/passage/?search=Mark+12%3A30-31&version=NASB">Mark 12:30-31</a><br>
    When this statement was made it was referring to literal neighbors (anyone within your immediate vicinity).  Now that technology has allowed us to provide help to just about everyone in the world who should be considered our neighbor?  While benevolence should be extended to everyone in need which particular groups makes your faith more real when you are serving them?<br>
    missionaries mention this all the time, they are more blessed than the people they served<br>
    encouraging malice towards family, neighbors, coworkers and charity towards people who you don't have direct interactions with (Compassion, great organization but easily dropped)<br>
    Which group would be most damaged if you stopped loving/supporting them, think of it through this question, what speaks louder to your own heart, your actions or attitudes?<br>
    <br>
    <a href="https://www.biblegateway.com/passage/?search=Philippians+4%3A8-9&version=NASB">Phlippians 4:8-9</a>
  </aside>
</section>
