<section>
  <h1>Misdirecting Prayer</h1>
  <h3>Chapter 4</h3>
</section>
<section>
  <h2>Types of prayer</h2>
  <ul>
  	<li>"parroted" prayers learned in childhood</li>
  	<li>getting into a devotional <i>mood</i> (with no concentration or will power)</li> 
</section>
<section>
  <h2>What position do you get into when you pray?</h2>
</section>