<section>
  <h1>True Pleasure</h1>
  <h3>Chapter 13</h3>
</section>
    <aside class="notes">
        read to the middle of the second page
    </aside>
<section>
    <q>
        The characteristic of Pains and Pleasures is that they are unmistakably real, and therefore, as far as they go, give the man who feels them a touchstone of reality.
    </q>
    <aside class="notes">
        What are some ways in which pleasure can be a divine aid and a devilish snare.<br>
        Why would Screwtape want to eradicate small pleasures? true pleasure and pain connect us to reality as discussed last week<br>
        What pleasures and pastimes do you find spiritually nourishing?<br>
        <br>
        <b>Psalm 37:4</b> - Delight yourself in the Lord; and He will give you the desires of your heart.<br>
        read from the middle of the second page to the end
    </aside>
</section>
<section>
    <q>
        ...while He is delighted to see them [humans] sacrificing even their innocent wills to His, He hates to see them drifting away from their own nature for any other reason.
    </q>
    <aside class="notes">
        What is wrong with the "best" people, the "right" food, and "important" books in regards to true pleasure? usually defined by other people and we feel an obligation to enjoy them even when we don't necessarily enjoy them ourselves<br>
        What is the difference between the detachment of self that God seeks and the detachment from reality that the devils seek?<br>
        <br>
        <b>Psalm 37:23</b> - The steps of a man are established by the Lord, and He delights in his way.<br>
        God used Peter's boldness/brashness as the leader of the church.<br>
        Four gospels with four perspectives.<br>
    </aside>
</section>
<section>
    <q>
        The great thing is to prevent his doing anything.  As long as he does not convert it into action, it does not matter how much he thinks about this new repentence.
    </q>
</section>