<section>
  <h1>Small Sins</h1>
  <h3>Chapter 12</h3>
</section>
<section>
  <q cite="The Screwtape Letters, Chapter 12">
    We know that we have introduced a change of direction in his course which is already carrying him out of his orbit around the Enemy; but he must be made to imagine that all the choices which have effected this change of course are trivial and revocable.
  </q>
  <aside class="notes">
    Why is it valuable for Wormwood to encourage church attendance, despite its spiritual snares?<br>
    How is it that Wormwood can combine spiritual degeneration and spiritual inclination into snares and roadblocks to spiritual
    growth?<br>
    Wormwood learns how to keep his patient from prayers through just wasting time, What sorts of things keep you from prayer?<br>
    On a scale of 1 to 10 (1 being low), how would you compare your current spiritual vitality with a year ago?<br> 
    What has encouraged your spiritual growth? What has hindered your spiritual growth<br>
  </aside>
</section>