<section>
    <h1>Summary</h1>
    <ul>
        <li class="fragment">Sin can be subtle.</li>
        <li class="fragment">God can help us best when we face the trials and temptations in the present and rely on Him to secure our future.</li>
        <li class="fragment">Our low points can be effective places that God uses to grow our relationship with Him.</li>
    </ul>
</section>