<section>
  <h1>The Law of Undulation</h1>
  <h3>Chapter 8</h3>
</section>
<section>
  <q cite="The Screwtape Letters, Chapter 8">
    Their nearest approach to constancy, therefore, is undulation -- the repeated return to a level from which they repeatedly fall back, a series of troughs and peaks.
  </q>
  <aside class="notes">
    According to Screwtape, we humans are “amphibians" —half spirit and half animals, what key does this provide for understanding human nature?<br>
    Which half is easier to understand?  How does this impact our pursuit of God?<br>
    How might this insight into human nature be helpful for understanding your own life experiences and responses to God?<br>
  </aside>
</section>
<section>
  <q cite="The Screwtape Letters, Chapter 8">
    He cannot "tempt" to virtue as we do to vice.  He wants them to learn to walk and must therefore take away His hand; and if only the will to walk is really there He is pleased even with their stumbles.
  </q>
  <aside class="notes">
    Screwtape says God “cannot ravish. He can only woo,” What do you think that means?<br>
    Once wooed though he takes away His hand, why would he do that?<br>
    <br>
    <b>I Corinthians 3:1-3</b> And I, brethren, could not speak to you as to spiritual mean, but as to men of flesh, as to infants in Christ.  I gave you milk to drink, not solid food; for you were not yet able to receive it.  Indeed, even now you are not yet able, for you are still fleshly.<br>
    <b>Summary:</b> There are different levels of spiritual maturity.<br>
    <br>
    Dr. John Coe - Professor of Philosophy and Spiritual Theology at Biola University<br>
    According to Coe as young Christians God replaces our objects of pleasure from earthly pleasures with spiritual pleasure, refers to this as "the bottle" (baby bottle)<br>
    As we grow more mature in our faith the "bottle" (the sensing of God's pleasure) is removed to help us better know ourselves and the brokenness and need of Christ's sacrifice.<br>
    Examples of how this cultivates maturity:<br>
    The apostles were spiritual infants when Jesus was with them, after Jesus ascended they became much more mature as evidenced by their writings in the new testament.<br>
    Who has adult children?  What was the best way to get them to become mature adults?  Remove you presence?<br>
    <br>
    Remember: This dryness is a new, more profound work of God in our deep in order to have a true, honest relationship. The Spirit is attempting to reveal the truth of ourselves in neediness, to help us despair of ourselves and independence and open us to declare our dependence on the Spirit (= "purgative" contemplation).<br>
    God uses the lows of our spiritual experience as means to do deep work in our souls, how have the lows in your own life been
    used to enhance your connection with God?<br>
    <br>
    What fresh insights do you gain into the devilish and divine ways of working with and on humanity from Screwtape’s instruction
    about human depression and difficulties?<br>
  </aside>
</section>