<section>
    <h1>(Un)selfish</h1>
    <h3>Chapter 26</h3>
</section>
<section>
  <q cite="The Screwtape Letters, Chapter 17">
    Note once again, the admirable work of our Philological Arm in substituting the negative Unselfishness for the Enemy's positive Charity.  Thanks to this you can, from the very outset, teach a man to surrender benefits not that others may be happy in having them but that he may be unselfish in forgoing them.
  </q>
  <aside class="notes">
    Screwtape wants Wormwood to sow seeds of confusion that will bear fruit, not immediately but in ten years’ time, what do you think about his statement that the word love is “ambiguous”?<br>
    Why does Screwtape celebrate the devilish substitution of “unselfishness” for charity (love)?<br>
    How does mistaking sexual excitement for charity, and thinking that this excitement will last, affect us?<br>
    Describe how the devil’s twist of unselfishness can sour a relationship.<br>
    In what ways can you discern this devilish concept of unselfishness in your own thoughts and behavior?<br>
  </aside>
</section>