<section>
  <h1>Worldly Friends</h1>
  <h3>Chapter 10</h3>
  <aside class="notes">
    Did anyone try praying on their knees?<br>
    Did it change how you approached your prayer?<br>
  </aside>
</section>
<section>
  <q cite="The Screwtape Letters, Chapter 10">
    All mortals tend to turn into the thing<br>they are pretending to be.  This is elementary.
  </q>
  <aside class="notes">
    page 57 - 1st full paragraph on the next page (58)<br>
    <br>
    How do you select your friends?<br>
    define the relationship?  when should that occur?<br>
    What is the danger in not being careful about selecting your friends?<br>
    pretending to fit in with a crowd is not always a bad thing, fake it until you make it in software development<br>
    you need to be true to your (hopefully Christian) self every day so as to not be labeled a hypocrite?<br>
    <br>
    Proverbs 13:20 "He who walks with wise men will become wise, but the companion of fools will suffer harm"<br>
    1 Corinthians 15:33 "Do not be deceived: 'Bad company corrupts good morals.'"<br>

  </aside>
</section>
<section>
  <q cite="The Screwtape Letters, Chapter 10">
    I see few of the old warnings about Worldly Vanities, the Choice of Friends, and the Value of Time.  All that, your patient would probably classify as "Puritanism" -- and may I remark in passing that the value we have given to that word is one of the really solid triumphs of the last hundred years?  By it we rescue annually thousands of humans from temperance, chastity, and sobriety of life.
  </q>
  <aside class="notes">
    1st full paragraph on 58<br>
    <br>
    Screwtape talks about warnings about Mammon (money) Worldly Vanities, the Choice of Friends, and the Value of Time.  At the time, most of the warnings being preached by the church were about money.  What warnings do you think you hear the most about now?<br>
    Screwtape's primary tactic to combat these warnings was to dismissively characterize them as “Puritanism,” what is our term for this today?<br>
    do you think this is still effective (dismissing warnings with this term)?<br>
    What are some other tactics that make it easier to dismiss warnings like these?<br>
    How do we reverse the trend and reinforce these warnings in our mind?<br>
    Do you confront your friends with these warnings?  Has anyone confronted you with these warnings?<br>
  </aside>
</section>
<section>
  <q cite="The Screwtape Letters, Chapter 10">
    He can be made to take a positive pleasure in the perception that the two sides of his life are inconsistent.  This is done by exploiting his vanity.  He can be taught to enjoy sitting beside the barber on Sunday just because he remembers that the barber could not possibly understand the urbane and mocking world which he inhabited on Saturday evening, and contrariwise, to enjoy the friends all the more because he is aware of a "deeper," "spiritual" world within him which they cannot understand.
  </q>
  <aside class="notes">
    last paragraph 58 - end<br>
    <br>
    Do you act the same way among every group of people you spend time with?<br>
    What is satisfying about fitting in with diverse groups of people?<br>
    "he is the complete, balanced, complex man who sees round them all"<br>
    What are the dangers in doing this?<br>
    you are being treacherous to two sets of people<br>
    <br>
    these friends outside of church are your "mission field" and to not hangout with them would be intolerant or "Puritanical"<br>
    Should you make friends with individuals exclusively to convert them?<br>
    How can we guard against this behavior?  How do we help our friends do the same?<br>
    <br>
    Proverbs 12:26 "The righteous is a guide to his neighbor, but the way of the wicked leads them astray."
    Proverbs 18:24 "A man of too many friends goes to ruin, but there is a friend who sticks closer than a brother.
    Proverbs 24:5-6 "Better is open rebuke than love that is concealed.  Faithful are the wounds of a friend, but deceitful are the kisses of an enemy."
    Proverbs 17:17 "A friend loves at all times, and a brother is born for adversity."
  </aside>
</section>